* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}
::-webkit-scrollbar {
  display: none;
}
:root {
  --primary-color: #e8b059;
  --ft-300: 12px;
  --ft-350: 14px;
  --ft-400: 16px;
  --ft-500: 20px;
  --ft-600: 24px;
  --ft-700: 28px;
  --ft-800: 32px;
  --ft-900: 36px;
  --ft-1000: 40px;
}
