.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary-color);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #202020;
  z-index: 1000;
  transition: all 0.2s linear;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 500;
}
.box > img {
  border-radius: 6px;
  margin-right: 10px;
}
