.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.togglebutton {
  position: absolute;
  top: 6rem;
  right: 1rem;
}
.togglebutton > svg {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  color: black;
}
