.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--primary-color);
}
.container > h1 {
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0;
  border-bottom: 1.5px solid var(--primary-color);
  text-transform: uppercase;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-color);
  border-radius: 6px;
}
.box > label {
  font-size: 20px;
  font-weight: 600;
  padding: 0.5rem 1rem;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.box > input {
  display: none;
}
.images {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem 1rem;
}
.images > h2 {
  width: 100%;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}
.image {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  padding-bottom: 0.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.image > img {
  width: 250;
  height: 250px;
  border-radius: 5px 5px 0px 0px;
}
.name {
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
  width: 120px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  color: var(--primary-color);
}
.delete {
  position: absolute;
  bottom: 0rem;
  right: 0.3rem;
}
.delete > svg {
  color: var(--primary-color);
  font-size: 1.3rem;
  cursor: pointer;
}
